/*Variables*/
:root {
  /* fonts variables */
  --outfit-font-family: "outfit", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --young-serif-font-family: "young serif", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;

  /* color variables */
  --white-color: hsl(0, 0%, 100%);
  --stone-100-color: hsl(30, 54%, 90%);
  --stone-150-color: hsl(30, 18%, 87%);
  --stone-600-color: hsl(30, 10%, 34%);
  --stone-900-color: hsl(24, 5%, 18%);
  --brown-800-color: hsl(14, 45%, 36%);
  --rose-800-color: hsl(332, 51%, 32%);
  --rose-50-color: hsl(330, 100%, 98%);
}

/*--------------------HTML Styles--------------------*/
html {
  /*This will make the base font size = 10px = 1rem, any px value converte it by 10 will result into rem equvalent value*/
  font-size: 62.5%;

  /*--------------------Body Styles--------------------*/
  body {
    /*This will = 14px on the base line that we defined upove.*/
    font-size: 1.6rem;
    background-color: var(--white-color);
    display: grid;
    place-items: center;
    /*--------------------Main Styles--------------------*/
    .main {
      width: 100%;
      height: 100%;
      /*--------------------Sectio Styles--------------------*/
      .card-section {
        width: 100%;
        height: 100%;
        /*--------------------Card wrpper Styles--------------------*/
        .card-wrapper {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: stretch;
          justify-content: center;
          /*--------------------Recipe image Styles--------------------*/
          .recipe-image {
            background-image: url("../assets/images/image-omelette.jpeg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: transparent;
            aspect-ratio: 16/9;
          }
          /*--------------------Recipe content Styles--------------------*/
          .recipe-content-container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 16px;
            margin-top: 3rem;
            /*--------------------Recipe title Styles--------------------*/
            .recipe-title-container {
              width: 100%;
              height: 100%;

              .recipe-title {
                width: 100%;
                display: inline;
                text-align: left;
                font-family: var(--young-serif-font-family);
                font-size: 3.2rem;
                font-weight: 400;
                color: var(--stone-900-color);
              }
              .recipe-discription {
                font-family: var(--outfit-font-family);
                font-weight: 500;
                color: var(--stone-600-color);
                /* display: block; */
                margin-top: 25px;
              }
            }
          }
        }
      }
    }

    /*-----------------Footer Styles--------------------*/
    .footer {
      position: fixed;
      width: 100%;
      bottom: 0;
      left: 0;
      padding: 5px;
      margin: 0px;

      .footer-list {
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-content: space-around;
        gap: 3px;

        li {
          font-size: 1rem;
          text-align: center;
          color: hsl(228, 45%, 44%);

          span {
            font-weight: bold;
          }

          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}
